In [1]:
#########################################################################################
# Set librarries I usually need     						                            #
#########################################################################################
import os
import numpy as np
import pandas as pd
# import plotly.graph_objects as go
from IPython.display import display  # Enables use of display funtion for dataframes
# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#########################################################################################
# Set any display options and default values                                            #
#########################################################################################
pd.set_option('display.max_row', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 600)

In [3]:
#########################################################################################
# Load a CSV file                                                                       #
#########################################################################################
def step_1_load_data(filename):
	#-----------------------------------------------------------------------------------#
	# Build path to source file                                                         #
	#-----------------------------------------------------------------------------------#    
	path = os.getcwd()
	file = os.path.join(path, 'flair', filename)
	
	#-----------------------------------------------------------------------------------#
	# Import source data                                                                #
	#-----------------------------------------------------------------------------------#
	df = pd.read_csv(file, sep=r'\s*,\s*', header=0, engine='python')
	
	#-----------------------------------------------------------------------------------#
	# Tidy column names as some have mixed case, spaces and white space characters etc. #
	#-----------------------------------------------------------------------------------#	
	df.columns = df.columns.str.strip().str.lower().str.replace(r'\s+', '_').str.replace('-', '_').str.replace('(', '').str.replace(')', '')
	
	#-----------------------------------------------------------------------------------#
	# Return df                                                                         #
	#-----------------------------------------------------------------------------------#
	return df

In [16]:
df_flight_data = step_1_load_data('flair_flightdata.csv')
df_flight_data.head()

  flight_code  flight_gross_fare
0       F8121                119
1       F8122                114
2       F8123                 84
3       F8124                 91
4       F8125                 81

In [17]:
df_valid_flight_codes = step_1_load_data('valid_flight_codes.csv')
df_valid_flight_codes.head()

  valid_flight_code
0             F8120

In [22]:
flight_codes_set = set(df_flight_data['flight_code'])
valid_flight_code_set = set(df_valid_flight_codes['valid_flight_code'])
invalid_flight_codes = list(flight_codes_set.difference(valid_flight_code_set))
display(invalid_flight_codes)
display(len(invalid_flight_codes))
print('PASS') if not invalid_flight_codes else print(f'FAIL, First 3 in error: {invalid_flight_codes[0:3]}')

['F8128',
 'F8127',
 'F8122',
 'F8129',
 'F8121',
 'F8125',
 'F8124',
 'F8126',
 'F8123']

9

FAIL, First 3 in error: ['F8128', 'F8127', 'F8122']